upstream secretgraph {
    server secretgraph;
}

server {
    listen 8000;
    location / {
        proxy_pass http://secretgraph:8001;
    }
    location /ws/ {
        proxy_pass http://secretgraph/ws:8001;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }


    location /static/ {
        root /static;
    }
    location /media/ {
        root /vol/media;
    }
}
