{% extends "secretgraph_proxy/proxy_base.html" %}
{% load manifest %}
{% load secretgraph %}
{% block styles %}
{{block.super}}
{% manifest_match '*.css' '<link rel="stylesheet" href="{match}"/>' %}
{% endblock %}
{% block head_scripts %}
{% manifest_match 'runtime.js' '<script src="{match}"></script>' %}
{% manifest_match 'suneditorstyle.js' '<script src="{match}"></script>' %}
{% manifest_match '*vendors*.js' '<script defer src="{match}"></script>' %}
{% manifest_match 'loader.js' '<script defer src="{match}"></script>' %}
{% endblock %}

{% block layout %}
<div id="secretgraph-webclient" data-home-url="{% url 'secretgraph_proxy:home' %}" data-graphql-path="{% secretgraph_path %}"></div>
{% endblock %}
