{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="application-name" content="secretgraph"/>

    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0{% endblock %}">

    {% block favicon %}
    <link rel="shortcut icon" type="image/svg" href="{% static 'secretgraph/favicon.svg' %}" />
    {% endblock %}
    {# CSS for all pages #}
    {% block base_styles %}
    <link rel="stylesheet" href="{% static 'node_modules/w3-css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    {# later {% theme %} call #}
    {% endblock %}
    {# CSS for page #}
    {% block styles %}
    {% endblock %}
  </head>

  <body>
  {# use sub div instead body because of select2 uses wrong colors elsewise #}
  <div class="{% block body_class %}{% endblock %}">
    {# Deco content, e.g.base.html  #}
    {% block layout %}
      <main class="{% block main_classes %}{% endblock %}" {% block main_attributes %}{% endblock %}>
      {# Main content  #}
      {% block content %}
        <div id="content-main"></div>
      {% endblock %}
    </main>
    {% block global_footer %}
    {% endblock %}

    {# Scripts #}
    {% block scripts %}
    <script></script>
    {% endblock %}

    {# e.g. modals #}
    {% block outercontent %}{% endblock %}
  </div>
  </body>
</html>
