## Potential data verification workflow

Note: I submitted it also to: https://gitlab.opencode.de/bmi/eidas2/-/issues/68

![Verification Workflow](Verification_and_Wallet.png)
